{%- liquid
  assign mock_title = ""
  assign mock_image = ""
  
  if is_mock
    assign mod = index | modulo: 9
    if mod == 1
      assign mock_title = "OUTSIDE VIBES T-SHIRT SUNSHINE"
      assign mock_image = "https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=600"
    elsif mod == 2
      assign mock_title = "HIKE BOTTLE OUTSIDE VIBES"
      assign mock_image = "https://images.unsplash.com/photo-1511499767150-a48a237f0083?w=600"
    elsif mod == 3
      assign mock_title = "REST IN NATURE T-SHIRT"
      assign mock_image = "https://images.unsplash.com/photo-1542291026-7eec264c27ff?w=600"
    elsif mod == 4
      assign mock_title = "TRAVEL ESSENTIALS"
      assign mock_image = "https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?w=600"
    elsif mod == 5
      assign mock_title = "WEEKEND ADVENTURE"
      assign mock_image = "https://images.unsplash.com/photo-1523381210434-271e8be1f52b?w=600"
    elsif mod == 6
      assign mock_title = "SUMMER COLLECTION"
      assign mock_image = "https://images.unsplash.com/photo-1483985988355-763728e1935b?w=600"
    elsif mod == 7
      assign mock_title = "MOUNTAIN HIKER"
      assign mock_image = "https://images.unsplash.com/photo-1504593811423-6dd665756598?w=600"
    elsif mod == 8
      assign mock_title = "OUTDOOR LIFESTYLE"
      assign mock_image = "https://images.unsplash.com/photo-1506744038136-46273834b3fb?w=600"
    else
      assign mock_title = "EXPLORE MORE"
      assign mock_image = "https://images.unsplash.com/photo-1501785888041-af3ef285b470?w=600"
    endif
  endif
-%}

<div class="best-sellers__product-card group">
  <div class="best-sellers__image-wrapper">
    <a href="{{ card_product.url | default: '#' }}" class="best-sellers__image-link">
      {%- if is_mock == false and card_product.featured_image != blank -%}
        <img class="best-sellers__image best-sellers__image--primary{% if card_product.images[1] != blank %} best-sellers__image--has-hover{% endif %}"
             src="{{ card_product.featured_image | image_url: width: 600 }}"
             alt="{{ card_product.featured_image.alt | escape }}"
             loading="lazy"
             width="300"
             height="300">
        {%- if card_product.images[1] != blank -%}
          <img class="best-sellers__image best-sellers__image--hover"
               src="{{ card_product.images[1] | image_url: width: 600 }}"
               alt="{{ card_product.images[1].alt | escape }}"
               loading="lazy"
               width="300"
               height="300">
        {%- endif -%}
      {%- else -%}
        {%- if is_mock -%}
          <img class="best-sellers__image best-sellers__image--primary"
               src="{{ mock_image }}"
               alt="{{ mock_title | escape }}"
               loading="lazy"
               width="300"
               height="300">
        {%- else -%}
          {{ 'product-1' | placeholder_svg_tag: 'best-sellers__image best-sellers__image--placeholder' }}
        {%- endif -%}
      {%- endif -%}
    </a>

    {%- if section.settings.show_badges -%}
      {%- liquid
        assign show_best_seller = false
        if is_mock
          assign show_best_seller = true
        else
          for tag in card_product.tags
            assign downcased_tag = tag | downcase
            if downcased_tag == 'best-seller' or downcased_tag == 'best seller'
              assign show_best_seller = true
              break
            endif
          endfor
        endif

        assign show_sale = false
        assign discount_percentage = 0
        if is_mock
          assign show_sale = true
          assign discount_percentage = 20
        elsif card_product.compare_at_price > card_product.price
          assign show_sale = true
          assign difference = card_product.compare_at_price | minus: card_product.price
          assign discount_percentage = difference | times: 100 | divided_by: card_product.compare_at_price
        endif
      -%}

      {%- if show_best_seller -%}
        <span class="best-sellers__badge best-sellers__badge--left">Best Seller</span>
      {%- endif -%}

      {%- if show_sale -%}
        <span class="best-sellers__badge best-sellers__badge--right">Save {{ discount_percentage }}%</span>
      {%- endif -%}
    {%- endif -%}
  </div>

  <h3 class="best-sellers__product-title">
    <a href="{{ card_product.url | default: '#' }}">
      {%- if is_mock -%}
        {{ mock_title }}
      {%- else -%}
        {{ card_product.title | escape }}
      {%- endif -%}
    </a>
  </h3>

  {%- if section.settings.show_reviews -%}
    <div class="best-sellers__reviews">
      <svg width="68" height="12" viewBox="0 0 68 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="best-sellers__stars">
        <path d="M6.32279 0.887832C6.11862 0.790482 5.88141 0.790482 5.67723 0.887832C5.50072 0.971989 5.4034 1.11811 5.35433 1.19827C5.30359 1.28114 5.25151 1.3867 5.20075 1.4896L4.12288 3.67324L1.71185 4.02564C1.59836 4.04221 1.48191 4.05921 1.38745 4.08192C1.29607 4.10389 1.12711 4.15142 0.992657 4.29334C0.837112 4.45752 0.76396 4.68313 0.793571 4.90735C0.819166 5.10117 0.928088 5.23879 0.989188 5.3102C1.05235 5.38402 1.13667 5.46612 1.21885 5.54614L2.96275 7.24469L2.55127 9.64383C2.53184 9.75694 2.51192 9.87299 2.50424 9.96988C2.49682 10.0636 2.48965 10.239 2.583 10.4109C2.69098 10.6097 2.88292 10.7491 3.10535 10.7904C3.29766 10.826 3.4623 10.7649 3.54912 10.7289C3.63889 10.6917 3.7431 10.6368 3.84468 10.5834L6.00001 9.44993L8.15535 10.5834C8.25693 10.6368 8.36114 10.6917 8.45091 10.7289C8.53773 10.7649 8.70237 10.826 8.89467 10.7904C9.11711 10.7491 9.30904 10.6097 9.41702 10.4109C9.51037 10.239 9.5032 10.0636 9.49578 9.96988C9.48811 9.873 9.46818 9.75696 9.44876 9.64385L9.03727 7.24469L10.7812 5.54612C10.8634 5.46611 10.9477 5.38402 11.0108 5.3102C11.0719 5.23879 11.1809 5.10117 11.2065 4.90735C11.2361 4.68313 11.1629 4.45752 11.0074 4.29334C10.8729 4.15142 10.704 4.1039 10.6126 4.08192C10.5181 4.05921 10.4017 4.04221 10.2882 4.02564L7.87714 3.67324L6.7993 1.48963C6.74853 1.38673 6.69644 1.28114 6.6457 1.19827C6.59662 1.11811 6.4993 0.971989 6.32279 0.887832Z" fill="#231F20"/>
        <path d="M20.3228 0.887832C20.1186 0.790482 19.8814 0.790482 19.6772 0.887832C19.5007 0.971989 19.4034 1.11811 19.3543 1.19827C19.3036 1.28114 19.2515 1.3867 19.2007 1.4896L18.1229 3.67324L15.7119 4.02564C15.5984 4.04221 15.4819 4.05921 15.3874 4.08192C15.2961 4.10389 15.1271 4.15142 14.9927 4.29334C14.8371 4.45752 14.764 4.68313 14.7936 4.90735C14.8192 5.10117 14.9281 5.23879 14.9892 5.3102C15.0523 5.38402 15.1367 5.46612 15.2189 5.54614L16.9628 7.24469L16.5513 9.64383C16.5318 9.75694 16.5119 9.87299 16.5042 9.96988C16.4968 10.0636 16.4897 10.239 16.583 10.4109C16.691 10.6097 16.8829 10.7491 17.1054 10.7904C17.2977 10.826 17.4623 10.7649 17.5491 10.7289C17.6389 10.6917 17.7431 10.6368 17.8447 10.5834L20 9.44993L22.1554 10.5834C22.2569 10.6368 22.3611 10.6917 22.4509 10.7289C22.5377 10.7649 22.7024 10.826 22.8947 10.7904C23.1171 10.7491 23.309 10.6097 23.417 10.4109C23.5104 10.239 23.5032 10.0636 23.4958 9.96988C23.4881 9.873 23.4682 9.75696 23.4488 9.64385L23.0373 7.24469L24.7812 5.54612C24.8634 5.46611 24.9477 5.38402 25.0108 5.3102C25.0719 5.23879 25.1809 5.10117 25.2065 4.90735C25.2361 4.68313 25.1629 4.45752 25.0074 4.29334C24.8729 4.15142 24.704 4.1039 24.6126 4.08192C24.5181 4.05921 24.4017 4.04221 24.2882 4.02564L21.8771 3.67324L20.7993 1.48963C20.7485 1.38673 20.6964 1.28114 20.6457 1.19827C20.5966 1.11811 20.4993 0.971989 20.3228 0.887832Z" fill="#231F20"/>
    <path d="M34.3228 0.887832C34.1186 0.790482 33.8814 0.790482 33.6772 0.887832C33.5007 0.971989 33.4034 1.11811 33.3543 1.19827C33.3036 1.28114 33.2515 1.3867 33.2007 1.4896L32.1229 3.67324L29.7119 4.02564C29.5984 4.04221 29.4819 4.05921 29.3874 4.08192C29.2961 4.10389 29.1271 4.15142 28.9927 4.29334C28.8371 4.45752 28.764 4.68313 28.7936 4.90735C28.8192 5.10117 28.9281 5.23879 28.9892 5.3102C29.0523 5.38402 29.1367 5.46612 29.2189 5.54614L30.9628 7.24469L30.5513 9.64383C30.5318 9.75694 30.5119 9.87299 30.5042 9.96988C30.4968 10.0636 30.4897 10.239 30.583 10.4109C30.691 10.6097 30.8829 10.7491 31.1054 10.7904C31.2977 10.826 31.4623 10.7649 31.5491 10.7289C31.6389 10.6917 31.7431 10.6368 31.8447 10.5834L34 9.44993L36.1554 10.5834C36.2569 10.6368 36.3611 10.6917 36.4509 10.7289C36.5377 10.7649 36.7024 10.826 36.8947 10.7904C37.1171 10.7491 37.309 10.6097 37.417 10.4109C37.5104 10.239 37.5032 10.0636 37.4958 9.96988C37.4881 9.873 37.4682 9.75696 37.4488 9.64385L37.0373 7.24469L38.7812 5.54612C38.8634 5.46611 38.9477 5.38402 39.0108 5.3102C39.0719 5.23879 39.1809 5.10117 39.2065 4.90735C39.2361 4.68313 39.1629 4.45752 39.0074 4.29334C38.8729 4.15142 38.704 4.1039 38.6126 4.08192C38.5181 4.05921 38.4017 4.04221 38.2882 4.02564L35.8771 3.67324L34.7993 1.48963C34.7485 1.38673 34.6964 1.28114 34.6457 1.19827C34.5966 1.11811 34.4993 0.971989 34.3228 0.887832Z" fill="#231F20"/>
    <path d="M48.3228 0.887832C48.1186 0.790482 47.8814 0.790482 47.6772 0.887832C47.5007 0.971989 47.4034 1.11811 47.3543 1.19827C47.3036 1.28114 47.2515 1.3867 47.2007 1.4896L46.1229 3.67324L43.7119 4.02564C43.5984 4.04221 43.4819 4.05921 43.3874 4.08192C43.2961 4.10389 43.1271 4.15142 42.9927 4.29334C42.8371 4.45752 42.764 4.68313 42.7936 4.90735C42.8192 5.10117 42.9281 5.23879 42.9892 5.3102C43.0523 5.38402 43.1367 5.46612 43.2189 5.54614L44.9628 7.24469L44.5513 9.64383C44.5318 9.75694 44.5119 9.87299 44.5042 9.96988C44.4968 10.0636 44.4897 10.239 44.583 10.4109C44.691 10.6097 44.8829 10.7491 45.1054 10.7904C45.2977 10.826 45.4623 10.7649 45.5491 10.7289C45.6389 10.6917 45.7431 10.6368 45.8447 10.5834L48 9.44993L50.1554 10.5834C50.2569 10.6368 50.3611 10.6917 50.4509 10.7289C50.5377 10.7649 50.7024 10.826 50.8947 10.7904C51.1171 10.7491 51.309 10.6097 51.417 10.4109C51.5104 10.239 51.5032 10.0636 51.4958 9.96988C51.4881 9.873 51.4682 9.75696 51.4488 9.64385L51.0373 7.24469L52.7812 5.54612C52.8634 5.46611 52.9477 5.38402 53.0108 5.3102C53.0719 5.23879 53.1809 5.10117 53.2065 4.90735C53.2361 4.68313 53.1629 4.45752 53.0074 4.29334C52.8729 4.15142 52.704 4.1039 52.6126 4.08192C52.5181 4.05921 52.4017 4.04221 52.2882 4.02564L49.8771 3.67324L48.7993 1.48963C48.7485 1.38673 48.6964 1.28114 48.6457 1.19827C48.5966 1.11811 48.4993 0.971989 48.3228 0.887832Z" fill="#231F20"/>
    <path d="M62.3228 0.887832C62.1186 0.790482 61.8814 0.790482 61.6772 0.887832C61.5007 0.971989 61.4034 1.11811 61.3543 1.19827C61.3036 1.28114 61.2515 1.3867 61.2007 1.4896L60.1229 3.67324L57.7119 4.02564C57.5984 4.04221 57.4819 4.05921 57.3874 4.08192C57.2961 4.10389 57.1271 4.15142 56.9927 4.29334C56.8371 4.45752 56.764 4.68313 56.7936 4.90735C56.8192 5.10117 56.9281 5.23879 56.9892 5.3102C57.0523 5.38402 57.1367 5.46612 57.2189 5.54614L58.9628 7.24469L58.5513 9.64383C58.5318 9.75694 58.5119 9.87299 58.5042 9.96988C58.4968 10.0636 58.4897 10.239 58.583 10.4109C58.691 10.6097 58.8829 10.7491 59.1054 10.7904C59.2977 10.826 59.4623 10.7649 59.5491 10.7289C59.6389 10.6917 59.7431 10.6368 59.8447 10.5834L62 9.44993L64.1554 10.5834C64.2569 10.6368 64.3611 10.6917 64.4509 10.7289C64.5377 10.7649 64.7024 10.826 64.8947 10.7904C65.1171 10.7491 65.309 10.6097 65.417 10.4109C65.5104 10.239 65.5032 10.0636 65.4958 9.96988C65.4881 9.873 65.4682 9.75696 65.4488 9.64385L65.0373 7.24469L66.7812 5.54612C66.8634 5.46611 66.9477 5.38402 67.0108 5.3102C67.0719 5.23879 67.1809 5.10117 67.2065 4.90735C67.2361 4.68313 67.1629 4.45752 67.0074 4.29334C66.8729 4.15142 66.704 4.1039 66.6126 4.08192C66.5181 4.05921 66.4017 4.04221 66.2882 4.02564L63.8771 3.67324L62.7993 1.48963C62.7485 1.38673 62.6964 1.28114 62.6457 1.19827C62.5966 1.11811 62.4993 0.971989 62.3228 0.887832Z" fill="#231F20"/>
      </svg>
      <span class="best-sellers__reviews-text">1,234 Reviews</span>
    </div>
  {%- endif -%}

  <p class="best-sellers__product-price">
    {%- if is_mock -%}
      <span class="best-sellers__price">$104.95</span>
    {%- elsif card_product.compare_at_price > card_product.price -%}
      <span class="best-sellers__price best-sellers__price--sale">{{ card_product.price | money }}</span>
      <span class="best-sellers__price best-sellers__price--compare">{{ card_product.compare_at_price | money }}</span>
    {%- else -%}
      <span class="best-sellers__price">{{ card_product.price | money }}</span>
    {%- endif -%}
  </p>
</div>
